@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font: "Gilroy", sans-serif;
  --text-black: #000000;
  --text-primary: ;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {

  }
} */

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--base-font);
}
